body {
  background: lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#first {
  color: yellow;
}

#second {
  color: tomato;
}

#third {
  color: navy;
}

.light {
  background: limegreen;
}

#small {
    width: 200px;
    height: 200px;
}

